## Data description

In [ ]:
! cat dataset\data_description.txt

## Load dataset

In [1]:
import pandas as pd
from pathlib import Path
pd.options.mode.chained_assignment = None 
from sklearn.impute import SimpleImputer
import numpy as np

In [2]:
data_path = Path('dataset') / 'train.csv'

In [3]:
data = pd.read_csv(data_path, index_col=0)
data

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

## Cleaning data

In [4]:
null_columns = data.columns[data.isnull().sum() > 0]

In [5]:
def color_negative_red(val):
    color = 'red' if val > 0.03 else 'black'
    return 'color: %s' % color

In [6]:
null_values_df = pd.DataFrame(data[null_columns].isnull().sum().divide(len(data)), columns=['Null values'])

In [7]:
null_values_df.style.applymap(color_negative_red)

In [8]:
delete_columns = null_values_df[null_values_df['Null values']>0.03].index.values.tolist()
delete_columns

['LotFrontage',
 'Alley',
 'FireplaceQu',
 'GarageType',
 'GarageYrBlt',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PoolQC',
 'Fence',
 'MiscFeature']

In [9]:
data = data.drop(delete_columns, axis=1)

In [10]:
data

,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,...,0,0,0,0,0,2,2008,WD,Normal,208500
2,20,RL,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,Veenker,...,0,0,0,0,0,5,2007,WD,Normal,181500
3,60,RL,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,...,0,0,0,0,0,9,2008,WD,Normal,223500
4,70,RL,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
5,60,RL,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,...,0,0,0,0,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,60,RL,7917,Pave,Reg,Lvl,AllPub,Inside,Gtl,Gilbert,...,0,0,0,0,0,8,2007,WD,Normal,175000
1457,20,RL,13175,Pave,Reg,Lvl,AllPub,Inside,Gtl,NWAmes,...,0,0,0,0,0,2,2010,WD,Normal,210000
1458,70,RL,9042,Pave,Reg,Lvl,AllPub,Inside,Gtl,Crawfor,...,0,0,0,0,2500,5,2010,WD,Normal,266500
1459,20,RL,9717,Pave,Reg,Lvl,AllPub,Inside,Gtl,NAmes,...,112,0,0,0,0,4,2010,WD,Normal,142125
1460,20,RL,9937,Pave,Reg,Lvl,AllPub,Inside,Gtl,Edwards,...,0,0,0,0,0,6,2008,WD,Normal,147500

In [11]:
data = data.dropna()
data

,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,...,0,0,0,0,0,2,2008,WD,Normal,208500
2,20,RL,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,Veenker,...,0,0,0,0,0,5,2007,WD,Normal,181500
3,60,RL,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,...,0,0,0,0,0,9,2008,WD,Normal,223500
4,70,RL,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
5,60,RL,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,...,0,0,0,0,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,60,RL,7917,Pave,Reg,Lvl,AllPub,Inside,Gtl,Gilbert,...,0,0,0,0,0,8,2007,WD,Normal,175000
1457,20,RL,13175,Pave,Reg,Lvl,AllPub,Inside,Gtl,NWAmes,...,0,0,0,0,0,2,2010,WD,Normal,210000
1458,70,RL,9042,Pave,Reg,Lvl,AllPub,Inside,Gtl,Crawfor,...,0,0,0,0,2500,5,2010,WD,Normal,266500
1459,20,RL,9717,Pave,Reg,Lvl,AllPub,Inside,Gtl,NAmes,...,112,0,0,0,0,4,2010,WD,Normal,142125
1460,20,RL,9937,Pave,Reg,Lvl,AllPub,Inside,Gtl,Edwards,...,0,0,0,0,0,6,2008,WD,Normal,147500

## Exploring data types

In [12]:
from sklearn.preprocessing import LabelEncoder

In [13]:
data.dtypes.value_counts()

int64      34
object     34
float64     1
dtype: int64

In [14]:
object_columns = (data.dtypes == object)

In [15]:
for column in data.columns[object_columns]:
    le = LabelEncoder()
    data[column] = le.fit_transform(data[column])

In [16]:
data.dtypes.value_counts()

int64      34
int32      34
float64     1
dtype: int64

In [17]:
data

,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,3,8450,1,3,3,0,4,0,5,...,0,0,0,0,0,2,2008,8,4,208500
2,20,3,9600,1,3,3,0,2,0,24,...,0,0,0,0,0,5,2007,8,4,181500
3,60,3,11250,1,0,3,0,4,0,5,...,0,0,0,0,0,9,2008,8,4,223500
4,70,3,9550,1,0,3,0,0,0,6,...,272,0,0,0,0,2,2006,8,0,140000
5,60,3,14260,1,0,3,0,2,0,15,...,0,0,0,0,0,12,2008,8,4,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,60,3,7917,1,3,3,0,4,0,8,...,0,0,0,0,0,8,2007,8,4,175000
1457,20,3,13175,1,3,3,0,4,0,14,...,0,0,0,0,0,2,2010,8,4,210000
1458,70,3,9042,1,3,3,0,4,0,6,...,0,0,0,0,2500,5,2010,8,4,266500
1459,20,3,9717,1,3,3,0,4,0,12,...,112,0,0,0,0,4,2010,8,4,142125
1460,20,3,9937,1,3,3,0,4,0,7,...,0,0,0,0,0,6,2008,8,4,147500

## Preprocessing

In [29]:
def preprocess_data(data):
    delete_columns = ['LotFrontage', 'Alley', 'FireplaceQu', 'GarageType', 'GarageYrBlt', 'GarageFinish',
                      'GarageQual', 'GarageCond', 'PoolQC', 'Fence','MiscFeature']
    
    data = data.drop(delete_columns, axis=1)
    
    print(data.dtypes.value_counts())
    imputer_cat = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
    imputer_num = SimpleImputer(missing_values=np.nan, strategy='mean')
    
    object_columns = (data.dtypes == object)
    numerical_columns = (data.dtypes != object)
    for column in data.columns[object_columns]:
        le = LabelEncoder()
        data[column] = le.fit_transform(data[column])
    return data

In [30]:
data = pd.read_csv(data_path, index_col=0)
data_preprocess = preprocess_data(data)

object     34
int64      25
float64     9
dtype: int64

## Dividing into dependent and independt variable

In [ ]:
from sklearn.model_selection import train_test_split

X = data.drop(['SalePrice'],axis=1)
y = data['SalePrice']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

## Linear Regression test

In [ ]:
from sklearn.linear_model import LinearRegression

lin_reg = LinearRegression()
lin_reg.fit(X_train, y_train)
y_pred = lin_reg.predict(X_test)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('white')
sns.set_context('talk')
sns.set_palette('dark')

ax = plt.axes()

ax.plot(y_test, y_pred,  marker='o', ls='', ms=3.0)
lim = (0, y_test.max())

ax.set(xlabel='Actual Price', 
       ylabel='Predicted Price', 
       xlim=lim,
       ylim=lim,
       title='Linear Regression Results');
ax.grid()

## Sample submission

In [ ]:
data_path = Path('dataset') / 'sample_submission.csv'
pd.read_csv(data_path)

## Test data

In [24]:
data_path = Path('dataset') / 'test.csv'
data_test = pd.read_csv(data_path, index_col = 0)
X_submission_test = data_test.drop(delete_columns, axis=1)
index = X_submission_test.index

In [28]:
preprocess_data(data_test)

,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
Id,,,,,,,,,,,,,,,,,,,,,
1461,20,2,11622,1,3,3,0,4,0,12,...,0,0,0,120,0,0,6,2010,8,4
1462,20,3,14267,1,0,3,0,0,0,12,...,36,0,0,0,0,12500,6,2010,8,4
1463,60,3,13830,1,0,3,0,4,0,8,...,34,0,0,0,0,0,3,2010,8,4
1464,60,3,9978,1,0,3,0,4,0,8,...,36,0,0,0,0,0,6,2010,8,4
1465,120,3,5005,1,0,1,0,4,0,22,...,82,0,0,144,0,0,1,2010,8,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2915,160,4,1936,1,3,3,0,4,0,10,...,0,0,0,0,0,0,6,2006,8,4
2916,160,4,1894,1,3,3,0,4,0,10,...,24,0,0,0,0,0,4,2006,8,0
2917,20,3,20000,1,3,3,0,4,0,11,...,0,0,0,0,0,0,9,2006,8,0
2918,85,3,10441,1,3,3,0,4,0,11,...,32,0,0,0,0,700,7,2006,8,4
2919,60,3,9627,1,3,3,0,4,1,11,...,48,0,0,0,0,0,11,2006,8,4

In [ ]:
for column in X_submission_test.columns[object_columns[:-1]]:
    le = LabelEncoder()
    X_submission_test[column] = le.fit_transform(X_submission_test[column])

In [ ]:
X_submission_test

In [ ]:
from sklearn.impute import SimpleImputer
import numpy as np

imp = SimpleImputer(missing_values=np.nan, strategy='mean')
X_submission_test = imp.fit_transform(X_submission_test)

In [ ]:
y_test_submission = lin_reg.predict(X_submission_test)

In [ ]:
index

In [ ]:
pd.DataFrame({'Id': index, 'SalePrice': y_test_submission}).to_csv('sample_submission_1.csv', index=False)